*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    overflow: hidden;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.card{
    /* height: 300px; */
    width: 500px;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 30px; 
    /* sabse pehle upar neechey ka likhte hein and uske baad padding dete hein left right ki */
}

.card p {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
} 
.card span{
    font-weight: 700;
    color: royalblue;
    
}
.outer{
    height: 20px;
    border-radius: 50px;
    width: 100%;
    background-color: grey;

}

.inner{
    height: 100%;
    width: 0%;
    background-color: green;
    border-radius: 50px;
}

.bottom{
    display: flex; 
    /* horizotal line me laane ke liye apan flex use karte hein */
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.bottom h2{
    font-size: 60px;
}

.bottom button{
    padding: 12px 25px;
    background-color: green;
    color: white;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
}

.bottom button:active{
    scale: 0.90;
    cursor: pointer;
}