*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

/* #box{
    height: 200px;
    width: 200px;
    background-color: rgb(255, 33, 230);
    border: 2px solid white;
    border-radius: 10px;
} */
h1{
    font-size: 70px;
    color: white;
    background-color: lightseagreen;
    padding: 5px 20px;
    border-radius: 5px;
}
button{
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

button:active{
   scale: 0.95;
   cursor: pointer;
}

/* task - > team , primary , secondary , fullname , trophies , captain */